<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nabinbhandari.retrofit">

    <application>

        <activity
            android:name=".PreviewActivity"
            android:configChanges="orientation|density|screenSize"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />

    </application>

</manifest>
