<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="np.gov.pokharalekhnath">

    <application
        android:name="com.nabinbhandari.municipality.AppConstants"
        tools:ignore="GoogleAppIndexingWarning" />

</manifest>
